
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root{ 
    --cor-de-fundo: #78aaf0;
    --verde:#f4f4f5;
    --branco:#f7f5f5;
    --botao-ativo:#3f2252;
    --botao-inativo: rgba(160, 36, 137, 0.5);
    --texto-fundo: rgba(207, 8, 243, 0.3);
}


body{
background-color: rgba(232, 182, 226, 0.866);
font-family: 'lobster', sans-serif;
}

h2 {
color: rgb(161, 72, 244);
}

.conteudo-principal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
}

.titulo-principal{
      text-align: left;
      width: 100%;
      font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao{
    font-family: "lobster",sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

}      
    
